* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #070b14;
  color: #ffffff;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
body {
  padding-top: 80px;
}