.contact {
  width: 100%;
  padding: 60px 40px;
  text-align: center;
}

.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact input,
.contact textarea {
  padding: 10px;
  font-size: 14px;
}

.contact button {
  padding: 10px;
  cursor: pointer;
}
