.navbar {
  background: #061a2f;
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h2 {
  color: #ffffff;
  cursor: pointer;
}

.menu {
  position: relative;
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu li {
  color: #e6f0ff;
  cursor: pointer;
  padding: 6px 0;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu li:hover {
  color: #00c8ff;
}

.menu li.active {
  color: #00c8ff;
}


.menu-underline {
  position: absolute;
  bottom: -6px;
  height: 3px;
  background: linear-gradient(90deg, #00c8ff, #1e90ff);
  border-radius: 2px;
  transition: all 0.35s ease;
  left: 0;
  width: 0;
}
